


! special
URxvt*.foreground:   #f8f8f2
URxvt*.background:   #272822
URxvt*.cursorColor:  #f8f8f2

! black
URxvt*.color0:       #272822
URxvt*.color8:       #75715e

! red
URxvt*.color1:       #f92672
URxvt*.color9:       #f92672

! green
URxvt*.color2:       #a6e22e
URxvt*.color10:      #a6e22e

! yellow
URxvt*.color3:       #f4bf75
URxvt*.color11:      #f4bf75

! blue
URxvt*.color4:       #66d9ef
URxvt*.color12:      #66d9ef

! magenta
URxvt*.color5:       #ae81ff
URxvt*.color13:      #ae81ff

! cyan
URxvt*.color6:       #a1efe4
URxvt*.color14:      #a1efe4

! white
URxvt*.color7:       #f8f8f2
URxvt*.color15:      #f9f8f5


!urxvt fonts: 

URxvt*font: xft:Monospace:pixelsize=16
URxvt*boldFont: xft:Monospace:bold:pixelsize=16


!urxvt extensions:

URxvt.perl-ext-common:  default,matcher,tabbedex

!enabling clickable links:

URxvt.urlLauncher:      /usr/bin/firefox
URxvt.matcher.button:   1 

!urxvt scrolling options and cursor style:

URxvt*saveLines: 12000
URxvt*scrollstyle:plain
URxvt*scrollBar: false
! urxvt tabs settings:

URxvt.tabbed.tabbar-fg: 2
URxvt.tabbed.tabbar-bg: 0
URxvt.tabbed.tab-fg: 2
URxvt.tabbed.tab-bg: 8
URxvt.tabbed.autohide:  yes
URxvt.tabbed.new-button:  no
URxvt.tabbed.title: no
